@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-animation {
    0% { transform: translateY(0px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px); }
}

.wave {
    animation-name: float-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}